<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911833596616-j99g8bvj6lsqkpiqg9mi6e0bfl1akqfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911833596616-j99g8bvj6lsqkpiqg9mi6e0bfl1akqfq</string>
	<key>API_KEY</key>
	<string>AIzaSyAlVx1Ai_6zMA7k96EH-zpgiy-llIg_FOM</string>
	<key>GCM_SENDER_ID</key>
	<string>911833596616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.redeemx.patron.venuestar</string>
	<key>PROJECT_ID</key>
	<string>venue-d65fd</string>
	<key>STORAGE_BUCKET</key>
	<string>venue-d65fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911833596616:ios:f40b8521b6054ca44d9bfd</string>
</dict>
</plist>